body {
  background-color: black;
  color: AliceBlue;
}
h1 {
  font-size: 110px;
  font-family: Orbitron;
  font-weight: 1000;
}
h2 {
  font-size: 75px;
  font-weight: 600;
  font-family: Exo;
}
h3 {
  font-size: 50px;
  font-family: Orbitron;
  font-weight: 600;
}
.bgvid {
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  filter: blur(3px) opacity(0.6);
}
.marquee {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: AliceBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.buttonContainer {
  width: 100%;
}
.buttonRow {
  position: absolute;
  top: 85%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.buttonForeground {
  position: absolute;
  top: 0;
  padding: 20px 25px;
  height: 100%;
  z-index: 1;
}
/*.buttonForeground:hover {
  border: 5px solid AliceBlue;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: midnightblue;
  transition: border 2s, padding 2s, background-color 2s;
}*/
.buttonForeground:hover + .buttonBackground {
  opacity: 1;
  transition: opacity 1s;
}
.buttonBackground {
  background-color: MidnightBlue;
  color: MidnightBlue;
  padding: 0px 20px;
  border: 5px solid AliceBlue;
  border-radius: 4px;
  opacity: 0.6;
  filter: blur(2px);
  z-index: 0;
}
.buttonBackgroundHover {
  background-color: aliceblue;
}
